body {
  overflow: overlay;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding-top: 14%;
  box-sizing: border-box;
  min-height: 100vh;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.App {
  text-align: center;
  font-size: 12px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-top {
  background-color: #b644fc;
  margin: 0;
  border-bottom: #ee07e2 solid 8px;
  border-radius: 0 0 100% 100%;
  box-shadow: #ee07e2 0 0 2px 2px;
}

.header-img {
  height: auto;
  width: 35%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  font-size: 12px;
  width: 6%;
  padding: 12px;
  margin: -1px 6px 6px;
  background: #b644fc;
  text-decoration: none;
  color: white;
  border-top: 2px solid #ee07e2;
  border-radius: 0% 0% 100% 100%;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
}

.nav-tab:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.nav-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%
}

.button-2 {
  background-color: #ee07e2;
  border-radius: 50px;
  border-style: none;
  box-shadow: #b005a8 0 -6px 3px inset;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 2% 3%;
}

.button-2:hover {
  color: #000;
}

.button-2:active {
  background-color: #b005a8;
}

.button {
  background-color: #c47df0;
  border-radius: 100px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 12px;
}

.button:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

.button:active {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: translateY(5px)
}

.two-forms {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5%;
}

.form {
  width: 33%;
  border: 2px solid #ee07e2;
  box-shadow: 2px 2px 5px 3px #00000050;
  border-top: none;
  border-radius: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 50px auto 2%;
}

.form h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #b644fc;
  width: 100%;
  border: 5px solid #b644fc;
  border-radius: 50px 50px 0 0
}

.form label {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #ee07e2;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif, Arial;
  box-shadow: none;
  border-radius: 4px;
  padding: 0;
}

.form input {
  border-radius: 50px;
  font-size: 12px;
  line-height: 2em;
  border: 2px solid #c47df0;
  margin-top: 0;
}

.form button {
  width: 50%;
  margin: 0 auto;
}

#saves {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;

}

.save {
  min-width: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2%;
}

.save:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.file-1 {
  background-color: rgba(165, 223, 165, 0.5);
}

.file-2 {
  background-color: rgba(239, 67, 24, 0.5);
}

.file-3 {
  background-color: rgba(119, 178, 250, 0.5);
}

.home {
  margin-left: 25%;
  margin-right: 25%;
}

.homePara {
  font-size: 14px;
}

.buttonGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 2em;
  text-align: center;
  justify-content: center;
  gap: 5%;
}

.dbCard {
  border: #ee07e2 outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 2px;
  padding-bottom: 4px;
  width: 15%;
  margin-bottom: 5%;
}

.play {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14px;
}

.play img {
  margin-bottom: 5px;
}

.play .button {
  margin: 5px;
}

.congrats {
  margin: auto;
  margin-top: 1%;
  padding: 1%;
  width: 40%;
  height: fit-content;
  border: #ee07e2 outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.congrats a {
  color: #b644fc;
}

.congrats img {
  border: #b644fc outset 2px;
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}

.answer input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.enlarge {
  width: 35%;
  height: auto;
}

.pokedex {
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

input {
  text-align: center;
}

label:not(.form label) {
  display: inline-block;
  background-color: #b644fc;
  color: white;
  font-family: sans-serif, Arial;
  font-size: 12px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  border-radius: 4px;
  padding: 5px
}

label:hover:not(.form label) {
  background-color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.compGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
}

.pokedexGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.pkmCard {
  border: #b644fc outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 2px
}

.dexCard {
  background-color: #b644fc;
  border: #ee07e2 2px;
  border-style: hidden solid solid hidden;
  border-radius: 15px;
  color: white;
  font-family: monospace;
}

.region {
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.delete {
  font-size: .75em;
  padding: 4px 10px;
  margin-top: 2px;
}

.left {
  float: left;
  margin-left: 15%;
}

.right {
  float: right;
  margin-right: 15%;
}

.msg-header {
  background-color: #b644fc;
  color: white;
}