@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron&family=PT+Sans+Narrow&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow: overlay;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding-top: 14%;
  min-height: 100vh;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.App {
  text-align: center;
  font-size: 12px;
  margin: 2% auto;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cccccc80;
  z-index: 996;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 15%;
  height: auto;
  animation: 1.25s linear infinite spinning;
}

.home p:not(.db-card p) {
  border: #ee07e2 outset 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #c47df080;
  padding: 1%;
  font-size: 1.1em;
  font-weight: 600;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.header-top {
  background-color: #b644fc;
  margin: 0;
  border-bottom: #ee07e2 solid 8px;
  border-radius: 0 0 100% 100%;
  box-shadow: #ee07e2 0 0 2px 2px;
}

.header-img {
  height: auto;
  width: 35%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  font-size: 12px;
  font-family: "Orbitron";
  width: 6%;
  padding: 12px 0;
  margin: -1px 6px 6px;
  background: #b644fc;
  text-decoration: none;
  color: white;
  border-top: 2px solid #ee07e2;
  border-radius: 0% 0% 100% 100%;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
}

.nav-tab:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.header-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%
}

.button {
  background-color: #c47df0;
  border-radius: 100px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 12px;
}

.button:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

.button:active {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: translateY(5px)
}

.button-2 {
  background-color: #ee07e2;
  border-radius: 50px;
  border-style: none;
  box-shadow: #b005a8 0 -6px 3px inset;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 2% 3%;
}

.button-2:hover {
  color: #000;
}

.button-2:active {
  background-color: #b005a8;
}

.two-forms {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5%;
}

.form {
  width: 33%;
  border: 2px solid #ee07e2;
  box-shadow: 2px 2px 5px 3px #00000050;
  border-top: none;
  border-radius: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 50px auto 2%;
}

.form h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #b644fc;
  width: 100%;
  border: 5px solid #b644fc;
  border-radius: 50px 50px 0 0
}

.form label {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #ee07e2;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif, Arial;
  box-shadow: none;
  border-radius: 4px;
  padding: 0;
}

.form input {
  border-radius: 50px;
  font-size: 12px;
  line-height: 2em;
  border: 2px solid #c47df0;
  margin-top: 0;
}

.form button {
  width: 50%;
  margin: 0 auto;
}

.stylize {
  color: #ee07e2;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.save-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

#saves p {
  font-size: 1.2em;
  width: max-content;
  max-width: 70%;
  word-wrap: normal;
  margin: 0 auto 2%;
}

.save {
  min-width: 25%;
  border: 3px outset #ccc;
  border-radius: 5px;
  padding: 2%;
  position: relative;
}

.save:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.save:hover .animate {
  animation: .3s ease-in-out infinite hop;
}

.save h3 {
  position: absolute;
  top: 0;
  left: 1;
  font-family: 'Orbitron', monospace, sans-serif;
  color: black;
  font-size: 5em;
}

.save-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.save-info span {
  font-weight: bold;
  font-family: monospace, sans-serif;
  font-size: 1.1em;
}

.home {
  width: 50%;
  margin: 0 auto;
}

.button-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.db-card {
  border: #ee07e2 outset 2px;
  position: relative;
  color: white;
  background-color: #c47df0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1% 1% 3%;
  width: 15%;
  margin: 2%;
}

.db-card .button-2 {
  position: absolute;
  bottom: 2%;
  left: 50;
  transform: translateX(-50%);
  width: 80%;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.play-top {
  margin: 0 auto 2%;
  padding: .5em;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  border: #ee07e2 outset 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #c47df080;
  font-size: 1.1em;
  font-weight: 600;
}

.play-top p {
  width: 45ch;
}

.play-img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.entry {
  font-size: 1.1em;
  font-weight: bold;
}

.toolbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  height: 75px;
  margin: 5px auto;
  background-color: #b644fc80;
  border: 2px outset #ee07e2;
  border-radius: 50px;
  transition: height 500ms ease-in-out;
}

.shrink-wrap {
  height: 32px;
}

.toolbar {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}

.toolbar span {
  font-family: monospace, sans-serif;
  font-weight: bold;
}

.toolbar span:not(.switch-wrapper span) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5%;
}

.hints-button {
  background-color: #B927FF;
  min-height: 25px;
  min-width: 25px;
  border-style: none;
  border-radius: 50%;
  box-shadow: #8800D8 0 -6px 3px inset;
  font-size: 10px;
  color: white;
  cursor: pointer;
  margin: 1px;
}

.hints {
  height: 100%;
  width: 100%;
  font-weight: 600;
  border-radius: 0 0 37px 37px;
  background-color: #ee07e250;
  overflow: hidden;
  text-wrap: nowrap;
  transition: all 500ms ease-in-out, opacity 1s ease-in;
}

.hide-hints {
  height: 0%;
  opacity: 0;
  width: 80%;
}

.switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.switch {
  background-color: #c47df080;
  border: 1px inset #b644fc;
  box-shadow: 1px 1px 2px 1px inset #b644fc50;
  border-radius: 50px;
  height: 25px;
  min-width: 50px;
  position: relative;
  cursor: pointer;
}

.slider {
  position: absolute;
  height: 100%;
  display: block;
  transition: all .5s ease-in-out
}

.slider {
  left: 0;
}

.slider-action {
  transform: translateX(108%)
}

.congrats {
  margin: auto;
  margin-top: 1%;
  padding: 1%;
  width: 40%;
  height: fit-content;
  border: #ee07e2 outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.congrats a {
  color: #b644fc;
}

.congrats img {
  border: #b644fc outset 2px;
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}

.answer input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pokedex {
  margin: 2% auto;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

input {
  text-align: center;
}

label:not(.form label) {
  display: inline-block;
  background-color: #b644fc;
  color: white;
  font-family: sans-serif, Arial;
  font-size: 12px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  border-radius: 4px;
  padding: 5px
}

label:hover:not(.form label) {
  background-color: #ee07e2;
  cursor: pointer;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.comp-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.dex-card {
  background-color: #c47df0;
  border: #ee07e2 2px outset;
  width: 18%;
  max-width: 80px;
  border-radius: 5px;
  color: white;
  font-family: monospace;
  margin: 1%;
}

.pokedex-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: 2% auto;
  width: 75%;
}

.pkm-card {
  border: #b644fc inset 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 2px;
  margin: 5px;
  position: relative;
}

.dex-number {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
  font-family: 'Orbitron', monospace, sans-serif;
  font-weight: 600;
}

.type-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.type-tag {
  font-size: .5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

.tt-dex {
  border-radius: 5px 0 0 5px;
}

.tt-hint {
  display: inline-block;
  width: 2.5rem;
  font-size: .6rem;
}

.region {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.delete {
  font-size: .75em;
  padding: 4px 10px;
  margin-top: 2px;
}

.left {
  float: left;
  margin-left: 15%;
}

.right {
  float: right;
  margin-right: 15%;
}

.msg-header {
  background-color: #b644fc;
  color: white;
}

@media only screen and (max-width: 1156px) {

  .App {
    margin-top: 4%;
  }

  .form {
    width: 40%;
  }

  .home {
    width: 75%
  }

  .play-img {
    width: 50%;
  }

  .comp-grid {
    width: 45%;
    margin-top: 3%;
  }

  .pokedex-grid {
    width: 80%;
  }

  .nav-tab {
    width: 8%;
    padding: 8px 0;
  }

  .header-top {
    border-radius: 0 0 80% 80%;
  }
}

@media only screen and (max-width: 768px) {

  .App {
    margin-top: 6%;
  }

  .two-forms {
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: 60%;
    margin: 2%;
  }

  .form form {
    width: 60%;
  }


  .home {
    width: 90%
  }

  .play {
    width: 80%;
    margin-top: 0;
  }

  .play-top {
    flex-direction: column;
    font-size: .8rem;
  }

  .play-img {
    width: 60%;
  }

  .toolbar-wrapper {
    width: 60%;
  }

  .comp-grid {
    width: 50%;
    margin-top: 4%;
  }

  .nav-tab {
    width: 10%;
    margin-top: -2px;
    font-size: .8em;
  }

  .header-top {
    border-radius: 0 0 60% 60%;
  }
}

@media only screen and (max-width: 480px) {

  .App {
    margin-top: 10%;
  }

  .form {
    width: 75%;
  }

  .home {
    margin-top: 5%;
    width: 95%;
  }

  .db-card {
    font-size: .9em;
  }

  .db-card .button-2 {
    width: 95%;
  }

  .play {
    width: 90%;
  }

  .play-top {
    font-size: .75rem;
  }

  .play-top p {
    width: auto;
    margin: 0;
  }

  .play-img {
    width: 60%;
  }

  .toolbar-wrapper {
    width: 100%;
  }

  .comp-grid {
    width: 80%;
    margin-top: 8%;
  }

  .pokedex-grid {
    width: 95%;
  }

  .nav-tab {
    width: 18%;
    padding: 6px;
  }

  .header-top {
    border-radius: 0 0 35% 35%;
  }

  .header-btns {
    font-size: .8em;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    right: auto;
  }
}

@media only screen and (max-width: 360px) {

  .db-card {
    font-size: .9em;
    width: 18%;
    margin: 1%;
  }

  .play-img {
    width: 70%;
  }

  .comp-grid {
    width: 90%;
    margin-top: 10%;
  }

  .nav-tab {
    padding: 4px;
  }
}

@keyframes hop {
  from {
    transform: none;
  }

  50% {
    transform: translateY(-3%);
  }

  to {
    transform: none;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0)
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}