@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron&family=PT+Sans+Narrow&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding-top: 14%;
  min-height: 100vh;
  overflow-x: hidden;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.App {
  text-align: center;
  font-size: 12px;
  margin: 2% auto;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cccccc80;
  z-index: 996;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 15%;
  height: auto;
  animation: 1.25s linear infinite spinning;
}

.text-container {
  border: #ee07e2 outset 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #c47df080;
  padding: 1%;
  font-size: 1.1em;
  font-weight: 600;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}

.header-top {
  background-color: #b644fc;
  margin: 0;
  border-bottom: #ee07e2 solid 8px;
  border-radius: 0 0 100% 100%;
  box-shadow: #ee07e2 0 0 2px 2px;
}

.header-img {
  height: auto;
  width: 35%;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  font-size: 12px;
  font-family: "Orbitron";
  width: 6%;
  padding: 12px 0;
  margin: -1px 6px 6px;
  background: #b644fc;
  text-decoration: none;
  color: white;
  border-top: 2px solid #ee07e2;
  border-radius: 0% 0% 100% 100%;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
}

.nav-tab:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.header-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%
}

.button {
  background-color: #c47df0;
  border-radius: 100px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 15px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 12px;
}

.button:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

.button:active {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: translateY(5px)
}

.button-2 {
  background-color: #ee07e2;
  border-radius: 50px;
  border-style: none;
  box-shadow: #b005a8 0 -6px 3px inset;
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 2% 3%;
}

.button-2:hover {
  color: #000;
}

.button-2:active {
  background-color: #b005a8;
}

#front-page {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 900/450;
  z-index: -1;
}

.master-ball {
  position: absolute;
  right: -150px;
  bottom: -150px;
  transform: rotate(-30deg);
  animation: 5s infinite ease-in-out hover;
}

.display-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 33%;
  height: 75%;
  background-color: #ccacdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: .5rem .5rem .75rem .75rem #00000080;
  border-radius: 15px 15px 0 0;
}

.display-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px 15px 0 0;
  background-image: linear-gradient(to right, #B927FF00 95%, #8800D8);
  z-index: 2;
  pointer-events: none;
}


.display-top {
  border-top: 50px ridge #B927FF;
  border-right: 50px groove #B927FF;
  border-bottom: 50px groove #B927FF;
  border-left: 50px ridge #B927FF;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-bottom {
  background: #B927FF;
  position: relative;
  width: 100%;
  height: 40%;
}

.game-btn {
  background-color: #ee07e2;
  border-radius: 50%;
  border-style: none;
  box-shadow: #b005a8 -2px -2px 3px 2px inset;
  color: white;
  cursor: pointer;
  margin: 0;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  color: #b005a8;
  font-size: 1.1rem;
}

.game-btn:active {
  background-color: #de07d3;
  box-shadow: #b005a8 -1px -1px 3px 2px inset;
}

.gb-li {
  right: 20%;
  top: 30%;
  width: 4rem;
  height: 4rem;
  color: white;
  font-size: .8rem;
  font-weight: 600;
}

.gb-su {
  right: 10%;
  top: 10%;
  width: 4rem;
  height: 4rem;
  color: white;
  font-size: .8rem;
  font-weight: 600;
}

.gb-up {
  left: 17.5%;
  top: 10%;
}

.gb-right {
  left: 25%;
  top: 25%;
}

.gb-down {
  left: 17.5%;
  top: 40%;
}

.gb-left {
  left: 10%;
  top: 25%;
}

.screen-header {
  color: #ee07e2;
  font-family: 'DotGothic16', monospace, sans-serif;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome p {
  max-width: 45ch;
  font-size: .8rem;
  font-weight: 600;
}

.welcome a {
  color: #B927FF;
  text-decoration: none;
}

.welcome a:hover {
  color: #ee07e2;
}

.blink {
  color: #520081;
  font-size: 1rem;
  font-family: 'Orbitron', monospace, sans-serif;
  animation: 1000ms infinite blinking;
}

#version {
  overflow: auto;
  margin: 0 auto;
}

h6 {
  font-family: 'Orbitron', monospace, sans-serif;
  color: #520081;
  font-size: 1rem;
}

ul {
  list-style: outside url('../assets/master-ball-tiny.png');
  margin: 0 auto;
  text-align: left;
}

li {
  padding-inline: 1rem;
}

.display-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.form label {
  display: flex;
  flex-direction: column;
  color: #ee07e2;
  font-size: .8rem;
  font-weight: bold;
  font-family: sans-serif, Arial;
  box-shadow: none;
  border-radius: 4px;
  padding: 0;
}

.form input {
  border-radius: 50px;
  font-size: 12px;
  line-height: 1rem;
  border: 2px solid #c47df0;
  outline: none;
  text-align: center;
}

.form input:focus {
  background-color: #ee07e280;
}

.form button {
  width: 50%;
  margin: 0 auto;
}

.stylize {
  color: #ee07e2;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.rolling-ball {
  position: fixed;
  width: 25%;
  bottom: 0;
  left: -100%;
  z-index: -1;
  animation: 15s linear infinite rolling;
}

#saves p {
  font-size: 1.2em;
  width: max-content;
  max-width: 70%;
  word-wrap: normal;
  margin: 0 auto 2%;
}

.save-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
  position: relative;
  margin-bottom: 10px;
}

.save {
  min-width: 25%;
  background-color: #8800D850;
  border: 3px outset #ee07e2;
  border-radius: 50px 50px 15px 15px;
  padding: 2%;
  position: relative;
  transition: all 250ms ease-in-out;
}

.save:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.save:hover .animate {
  animation: .3s ease-in-out infinite hop;
}

.save h3 {
  position: absolute;
  top: 0;
  left: 1;
  font-family: 'Orbitron', monospace, sans-serif;
  color: black;
  font-size: 5em;
}

.save-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.save-info span {
  font-weight: bold;
  font-family: monospace, sans-serif;
  font-size: 1.1em;
}

.home {
  width: 50%;
  margin: 0 auto;
}

.button-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.db-card {
  border: #ee07e2 outset 2px;
  position: relative;
  color: white;
  background-color: #c47df0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 1% 1% 3%;
  width: 15%;
  margin: 2%;
}

.db-card .button-2 {
  position: absolute;
  bottom: 2%;
  left: 50;
  transform: translateX(-50%);
  width: 80%;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.play-top {
  margin: 0 auto;
  padding: .5em;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  border: #ee07e2 outset 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #c47df080;
  font-size: 1.1em;
  font-weight: 600;
}

.play-top p {
  width: 45ch;
}

.play-img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.entry {
  font-size: 1rem;
  font-weight: bold;
  margin: 1% auto;
  max-width: 50ch;
  background-color: #ee07e250;
  padding: 1%;
  border-radius: 15px;
  border-left: 5px groove #ee07e2;
  border-right: 5px ridge #ee07e2;
}

.answer {
  width: 100%
}

.answer-form {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.answer-input {
  border-radius: 50px 0 0 50px;
  height: 2rem;
  width: min(45ch, 90%);
  border: 2px inset #B927FF;
  outline: none;
  padding-left: 5%;
  text-align: center;
}

.answer-btn {
  background-color: #B927FF;
  height: 2rem;
  min-width: 5%;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  border-style: none;
  border-radius: 0 50px 50px 0;
  box-shadow: #8800D8 0 -6px 3px inset;
  color: white;
  cursor: pointer;
}

.answer-btn:hover {
  animation: 2s infinite ease-in-out linkfade;
}

.toolbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(40%, 45ch);
  height: 75px;
  margin: 5px auto;
  background-color: #b644fc80;
  border: 2px outset #ee07e2;
  border-radius: 50px;
  overflow: hidden;
  transition: height 500ms ease-in-out;
}

.shrink-wrap {
  height: 32px;
}

.toolbar {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
}

.toolbar span {
  font-family: monospace, sans-serif;
  font-weight: bold;
}

.toolbar span:not(.switch-wrapper span) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5%;
}

.hints-button {
  background-color: #B927FF;
  min-height: 25px;
  min-width: 25px;
  border-style: none;
  border-radius: 50%;
  box-shadow: #8800D8 0 -6px 3px inset;
  font-size: 10px;
  color: white;
  cursor: pointer;
  margin: 1px;
}

.hints {
  height: 100%;
  width: 100%;
  font-weight: 600;
  border-radius: 0 0 37px 37px;
  background-color: #ee07e250;
  overflow: hidden;
  text-wrap: nowrap;
  transition: all 500ms ease-in-out, opacity 1s ease-in;
}

.hide-hints {
  height: 0%;
  opacity: 0;
}

.switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.switch {
  background-color: #c47df080;
  border: 1px inset #b644fc;
  box-shadow: 1px 1px 2px 1px inset #b644fc50;
  border-radius: 50px;
  height: 25px;
  min-width: 50px;
  position: relative;
  cursor: pointer;
}

.slider {
  position: absolute;
  height: 100%;
  display: block;
  transition: all .5s ease-in-out
}

.slider {
  left: 0;
}

.slider-action {
  transform: translateX(108%)
}

.congrats {
  margin: auto;
  margin-top: 1%;
  padding: 1%;
  width: 40%;
  height: fit-content;
  border: #ee07e2 outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.congrats a {
  color: #b644fc;
}

.congrats img {
  border: #b644fc outset 2px;
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}

.pokedex {
  margin: 2% auto;
}

.pokedex::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
  background-color: #b644fc80;
  border: 2px outset #ee07e2;
  border-radius: 50px;
  z-index: -1;
}

.dex-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

label:not(.form label) {
  display: inline-block;
  background-color: #b644fc;
  color: white;
  font-family: sans-serif, Arial;
  font-size: 12px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  border-radius: 5px 5px 0 0;
  padding: 5px
}

label:hover:not(.form label) {
  background-color: #ee07e2;
  cursor: pointer;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.comp-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.dex-card {
  background-color: #ee07e280;
  border: #B927FF 2px outset;
  width: 18%;
  max-width: 80px;
  border-radius: 5px;
  color: white;
  font-family: monospace;
  margin: 1%;
}

.dex-search {
  border-radius: 50px;
  height: 2rem;
  width: min(45ch, 90%);
  text-align: center;
  border: 2px solid #B927FF;
  outline: none;
}

.pokedex-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin: 2% auto;
  width: 75%;
}

.pkm-card {
  border: #b644fc solid 3px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  position: relative;
}

.dex-number {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
  font-family: 'Orbitron', monospace, sans-serif;
  font-weight: 600;
}

.type-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.type-tag {
  font-size: .5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

.tt-dex {
  border-radius: 5px 0 0 5px;
}

.tt-hint {
  display: inline-block;
  width: 2.5rem;
  font-size: .6rem;
}

.region {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff000080;
  border: 2px outset #ff0000;
  border-radius: 50px;
  height: 25px;
  width: 73ch;
  transition: width 1000ms ease;
  overflow: hidden;
}

.delete-shrink-wrap {
  width: 8ch;
}

.delete-btn {
  background-color: red;
  border-style: none;
  border-radius: 50px;
  font-size: 1em;
  width: clamp(2rem, 8ch, 5rem);
  min-height: 21px;
  font-weight: 600;
  text-wrap: nowrap;
  box-shadow: #990000 0 -6px 3px inset;
  color: white;
  cursor: pointer;
  transition: width 1000ms ease;
}

.delete-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .2rem;
  font-weight: 600;
  text-wrap: nowrap;
  max-width: 60ch;
  margin-inline: .2rem;
  transition: all 1000ms ease;
}

.delete-hidden {
  max-width: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
}

.left {
  float: left;
  margin-left: 15%;
}

.right {
  float: right;
  margin-right: 15%;
}

.msg-header {
  background-color: #b644fc;
  color: white;
}

@media only screen and (max-width: 1156px) {

  .App {
    margin-top: 4%;
  }

  .display-wrapper {
    width: 45%;
  }

  .master-ball {
    width: 40%;
  }

  .home {
    width: 75%
  }

  .play-img {
    width: 50%;
  }

  .pokedex::before {
    width: 90%;
  }

  .comp-grid {
    width: 45%;
    margin-top: 3%;
  }

  .pokedex-grid {
    width: 80%;
  }

  .nav-tab {
    width: 8%;
    padding: 8px 0;
  }

  .header-top {
    border-radius: 0 0 80% 80%;
  }
}

@media only screen and (max-width: 768px) {

  .App {
    margin-top: 6%;
  }

  .display-wrapper {
    width: 65%;
  }

  .master-ball {
    bottom: -50px;
    right: -50px;
    width: 25%;
  }

  .form form {
    width: 60%;
  }

  .home {
    width: 90%
  }

  .play {
    width: 80%;
    margin-top: 0;
  }

  .play-top {
    flex-direction: column;
    font-size: .8rem;
  }

  .play-img {
    width: 60%;
  }

  .toolbar-wrapper {
    width: 60%;
  }

  .comp-grid {
    width: 50%;
    margin-top: 4%;
  }

  .delete-wrapper {
    font-size: .5rem;
    width: 72ch;
  }

  .delete-shrink-wrap {
    width: 8ch;
  }

  .delete-show {
    text-wrap: wrap;
    transition: all 1000ms ease, opacity 1000ms 500ms ease;
  }

  .delete-hidden {
    text-wrap: nowrap;
  }

  .nav-tab {
    width: 10%;
    margin-top: -2px;
    font-size: .8em;
  }

  .header-top {
    border-radius: 0 0 60% 60%;
  }
}

/* Handling landscape orientation on mobile devices */
@media only screen and (max-height: 480px) {
  body {
    padding-top: 5%;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 16px !important;
  }

  .App {
    margin-top: 5%;
  }

  .header-img {
    width: 20%;
  }

  .display-wrapper {
    flex-direction: row;
    width: 75%;
    height: 80%;
  }

  .display-top {
    height: 100%;
    border-radius: 15px 0 0 0;
    border-width: 25px;
  }

  .display-bottom {
    height: 100%;
    width: 40%;
    border-radius: 0 15px 0 0;
  }

  .gb-li {
    top: 20%;
    right: 60%;
  }

  .gb-su {
    right: 20%;
  }

  .gb-down {
    top: 70%;
    left: 22%;
  }

  .gb-up {
    top: 50%;
    left: 22%;
  }

  .gb-right {
    top: 60%;
    left: 39%;
  }

  .gb-left {
    top: 60%;
    left: 5%;
  }

  .master-ball {
    width: 25%;
    right: -7.5%;
    bottom: -10%;
  }

  .form {
    flex-direction: row;
    align-items: center;
  }

  .form .screen-header {
    margin-left: 10%;
    animation: 1000ms infinite blinking;
  }

  .home {
    width: 80%;
  }

  .db-card {
    width: 18%;
    margin: 1%;
  }

}

@media only screen and (max-width: 480px) {

  input[type="text"],
  input[type="password"] {
    font-size: 16px !important;
  }

  .App {
    margin-top: 10%;
  }

  .display-wrapper {
    width: 95%;
  }

  .display-top {
    border-width: 25px;
  }

  .welcome p {
    font-size: .7rem;
  }

  .blink {
    font-size: .8rem;
  }

  .gb-li {
    right: 25%;
  }

  .master-ball {
    right: 60%;
    bottom: 55%;
    transition: translate 500ms ease;
    animation: spinning 2500ms linear infinite,
      toss 20s linear infinite;
    z-index: -1;
  }

  .home {
    margin-top: 5%;
    width: 95%;
  }

  .db-card {
    font-size: .9em;
    width: 18%;
    margin: 1%;
  }

  .db-card .button-2 {
    width: 95%;
  }

  .play {
    width: 90%;
  }

  .play-top {
    font-size: .75rem;
  }

  .play-top p {
    width: auto;
    margin: 0;
  }

  .play-img {
    width: 60%;
  }

  .toolbar-wrapper {
    width: 100%;
  }

  .pokedex::before {
    width: 100%;
    border: none;
  }

  .comp-grid {
    width: 80%;
    margin-top: 8%;
  }

  .pokedex-grid {
    width: 95%;
  }

  .nav-tab {
    width: 18%;
    padding: 6px;
  }

  .header-top {
    border-radius: 0 0 35% 35%;
  }

  .header-btns {
    font-size: .8em;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    right: auto;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    font-size: 14px;
  }

  .welcome p {
    font-size: .75rem;
  }

  .blink {
    font-size: .75rem;
  }

  .play-img {
    width: 70%;
  }

  .comp-grid {
    width: 90%;
    margin-top: 10%;
  }

  .delete-wrapper {
    width: 60ch;
  }

  .delete-shrink-wrap {
    width: 8ch;
  }

  .nav-tab {
    padding: 4px;
  }
}

@keyframes hop {
  from {
    transform: none;
  }

  50% {
    transform: translateY(-3%);
  }

  to {
    transform: none;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes hover {
  from {
    translate: 0 0;
  }

  50% {
    translate: 0 5%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes toss {

  0%,
  50% {
    translate: 0 0;
  }

  10% {
    translate: 50% -200%;
  }

  20% {
    translate: 100% -400%;
  }

  30% {
    translate: 150% -200%;
  }

  40% {
    translate: 200% 0;
  }
}

@keyframes blinking {
  from {
    opacity: 1
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@keyframes rolling {
  from {
    transform: rotate(0);
    translate: 0 0
  }

  to {
    transform: rotate(3600deg);
    translate: 1500% 0
  }
}

@keyframes linkfade {
  from {
    color: white
  }

  50% {
    color: #ee07e2
  }

  to {
    color: white
  }
}