:root {
  --bug: 182, 247, 107;
  --dark: 0, 0, 0;
  --dragon: 6, 16, 159;
  --electric: 243, 216, 38;
  --fairy: 249, 135, 251;
  --fighting: 226, 111, 17;
  --fire: 236, 68, 26;
  --flying: 57, 172, 238;
  --ghost: 63, 15, 118;
  --grass: 19, 156, 10;
  --ground: 193, 145, 78;
  --ice: 140, 229, 243;
  --normal: 235, 235, 235;
  --poison: 165, 20, 218;
  --psychic: 224, 4, 169;
  --rock: 141, 126, 102;
  --steel: 170, 170, 170;
  --water: 28, 94, 247;
}

.bug {
  background-color: rgba(var(--bug), 0.5);
  border-color: rgb(var(--bug));
}

.dark {
  background-color: rgba(var(--dark), 0.65);
  color: white;
  border-color: rgb(var(--dark));
}

.dragon {
  background-color: rgba(var(--dragon), 0.5);
  border-color: rgb(var(--dragon));
}

.electric {
  background-color: rgba(var(--electric), 0.5);
  border-color: rgb(var(--electric));
}

.fairy {
  background-color: rgba(var(--fairy), 0.5);
  border-color: rgb(var(--fairy))
}

.fighting {
  background-color: rgba(var(--fighting), 0.5);
  border-color: rgb(var(--fighting));
}

.fire {
  background-color: rgba(var(--fire), 0.5);
  border-color: rgb(var(--fire));
}

.flying {
  background-color: rgba(var(--flying), 0.5);
  border-color: rgb(var(--flying));
}

.ghost {
  background-color: rgba(var(--ghost), 0.5);
  border-color: rgb(var(--ghost));
}

.grass {
  background-color: rgba(var(--grass), 0.5);
  border-color: rgb(var(--grass));
}

.ground {
  background-color: rgba(var(--ground), 0.5);
  border-color: rgb(var(--ground));
}

.ice {
  background-color: rgba(var(--ice), 0.5);
  border-color: rgb(var(--ice));
}

.normal {
  background-color: rgba(var(--normal), 0.5);
  border-color: rgb(var(--normal));
}

.poison {
  background-color: rgba(var(--poison), 0.5);
  border-color: rgb(var(--poison));
}

.psychic {
  background-color: rgba(var(--psychic), 0.5);
  border-color: rgb(var(--psychic));
}

.rock {
  background-color: rgba(var(--rock), 0.5);
  border-color: rgb(var(--rock));
}

.steel {
  background-color: rgba(var(--steel), 0.5);
  border-color: rgb(var(--steel));
}

.water {
  background-color: rgba(var(--water), 0.5);
  border-color: rgb(var(--water));
}