.bug {
  background-color: rgba(182, 247, 107, 0.5);
  border-color: rgb(182, 247, 107);
}

.dark {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border-color: rgb(0, 0, 0);
}

.dragon {
  background-color: rgba(6, 16, 159, 0.5);
  border-color: rgb(6, 16, 159);
}

.electric {
  background-color: rgba(243, 216, 38, 0.5);
  border-color: rgb(243, 216, 38);
}

.fairy {
  background-color: rgba(249, 135, 251, 0.5);
  border-color: rgb(249, 135, 251);
}

.fighting {
  background-color: rgba(226, 111, 17, 0.5);
  border-color: rgb(226, 111, 17);
}

.fire {
  background-color: rgba(236, 68, 26, 0.5);
  border-color: rgb(236, 68, 26);
}

.flying {
  background-color: rgba(57, 172, 238, 0.5);
  border-color: rgb(57, 172, 238);
}

.ghost {
  background-color: rgba(63, 15, 118, 0.5);
  border-color: rgb(63, 15, 118);
}

.grass {
  background-color: rgba(19, 156, 10, 0.5);
  border-color: rgb(19, 156, 10);
}

.ground {
  background-color: rgba(193, 145, 78, 0.5);
  border-color: rgb(193, 145, 78);
}

.ice {
  background-color: rgba(140, 229, 243, 0.5);
  border-color: rgb(140, 229, 243);
}

.normal {
  background-color: rgba(235, 235, 235, 0.5);
  border-color: rgb(235, 235, 235);
}

.poison {
  background-color: rgba(165, 20, 218, 0.5);
  border-color: rgb(165, 20, 218);
}

.psychic {
  background-color: rgba(224, 4, 169, 0.5);
  border-color: rgb(224, 4, 169);
}

.rock {
  background-color: rgba(141, 126, 102, 0.5);
  border-color: rgb(141, 126, 102);
}

.steel {
  background-color: rgba(170, 170, 170, 0.5);
  border-color: rgb(170, 170, 170);
}

.water {
  background-color: rgba(28, 94, 247, 0.5);
  border-color: rgb(28, 94, 247);
}