body {
  overflow: overlay;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.App {
  text-align: center;
  font-size: 12px;
}

.header {
  background-color: #b644fc;
  margin: 0;
  border-bottom: #ee07e2 solid 8px;
  border-radius: 0 0 100% 100%;
  box-shadow: #ee07e2 0 0 2px 2px;
}

.headerImg {
  height: auto;
  width: 35%;
}

.navTab {
  display: inline-block;
  font-size: 12px;
  width: 80px;
  padding: 12px;
  margin: 0 6px 6px;
  background: #b644fc;
  text-decoration: none;
  color: white;
  border-radius: 0% 0% 100% 100%;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
}

.navTab:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.button {
  background-color: #c47df0;
  border-radius: 100px;
  box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 12px;
}

.button:hover {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: scale(1.05);
}

.button:active {
  color: #ee07e2;
  box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
  transform: translateY(5px)
}

.home {
  margin-left: 25%;
  margin-right: 25%;
}

.homePara {
  font-size: 14px;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 15%;
  margin-right: 15%;
  gap: 8%;
}

.dbCard {
  border: #ee07e2 outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 2px;
  padding-bottom: 4px;
}

.play {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14px;
}

.enlarge {
  width: 35%;
  height: auto;
}

.pokedex {
  margin-top: 2%;
  margin-bottom: 2%;
}

.pokedex input {
  opacity: 0;
  position: fixed;
  width: 0;
}

.pokedex label {
    display: inline-block;
    background-color: #b644fc;
    color: white;
    font-family: sans-serif, Arial;
    font-size: 12px;
    box-shadow: rgba(134, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(134, 44, 187, 0.2) 0 1px 2px, rgba(134, 44, 187, 0.2) 0 2px 4px, rgba(134, 44, 187, 0.2) 0 4px 8px, rgba(134, 44, 187, 0.2) 0 8px 16px, rgba(134, 44, 187, 0.2) 0 16px 32px;
    border-radius: 4px;
    padding: 5px
}

.pokedex label:hover {
    background-color:#ee07e2;
    box-shadow: rgba(238, 7, 226, 0.35) 0 -25px 18px -14px inset, rgba(238, 7, 226, 0.35) 0 1px 2px, rgba(238, 7, 226, 0.35) 0 2px 4px, rgba(238, 7, 226, 0.35) 0 4px 8px, rgba(238, 7, 226, 0.35) 0 8px 16px, rgba(238, 7, 226, 0.35) 0 16px 32px;
}

.compGrid {
  display: grid;
  margin-left: 40%;
  margin-right: 40%;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.pokedexGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.pkmCard {
  border: #b644fc outset 2px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 2px
}

.dexCard {
  background-color: #b644fc;
  border: #ee07e2 2px;
  border-style: hidden solid solid hidden;
  border-radius: 15px;
  color: white;
  font-family: monospace;
}

.region {
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

